html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    line-height: 1.5em;
    height: 100%;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

#main {
    width: 70%;
    margin: 0 auto;    
    padding-top: 150px;
    padding-bottom: 60px;
}

.menu {
    display: inline-flex;
    margin: 60px auto;    
    font-size: 180%;
}

.menu a {
    padding: 10px;
    background-color: white;
    color: black;
}

.menu div {
    margin: 0 auto;
}

#container {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
}

#footer {
    font-size: 80%;
    position: absolute;
    height: 60px;
    bottom: 0;
    padding-left: 15%;
}
